{% extends "nav.html" %}
<p>Here you can add books, view them as well as download them</p>
<div class="container">
  <form>
    <div class="mb-3">
      <label for="title" class="form-label">{{Book.title}}</label>
      <input type="text" class="form-control" id="title" />
    </div>
    <div class="mb-3">
      <label for="author" class="form-label">{{Book.author}}</label>
      <input type="text" class="form-control" id="author" />
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">{{Book.price}}</label>
      <input type="integer" class="form-control" id="price" />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">{{Book.description}}</label>
      <textarea
        name="description"
        class="form-control"
        id="floatingTextarea2"
        style="height: 100px"
      ></textarea>
    </div>
    <div class="mb-3">
      <label for="category">Category</label>
      <select
        name="category"
        class="form-select"
        aria-label="Default select example"
      >
        <option selected>---</option>
        <option value="Thriller">Thriller</option>
        <option value="Romace">Romance</option>
        <option value="Manga">Manga</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Add Book</button>
  </form>
</div>
